/* Table container */
.table-container {
  width: 90%;
  /* margin: 20px auto; */
  /* background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.table-component-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10vh;
  width: 90%;
}

/* Global search input */
.global-search {
  margin-bottom: 15px;
  text-align: right;
  width: 100%;
  display: flex;
  justify-content: center;
}
/* Additional styles for checkbox filters and toggle button */
.global-search button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #0F6292;
  color: #fff;
  border: none;
  cursor: pointer;
}

.filter-selection label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter-selection label input {
  margin-right: 10px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
}

.global-search-input {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ffffff;
  border-radius: 20px;
  width: 50%;
  color: #fff;
  /* max-width: 300px; */
  margin-right: 10px;
  background-color: #0F6292;
}

.global-search-input::placeholder {
  color: #fff; /* Change this to your desired color */
  opacity: 1; /* Ensures the placeholder text is fully opaque */
}
.global-search-input:focus {
  outline: none; /* Removes the default outline in some browsers */
  border: 1px solid transparent; /* Removes the border */
  box-shadow: none; /* Optionally remove the shadow */
}

/* Filter dropdown and input */
.filter-container {
  display: flex;
  border-radius: 10px;
  border: 1px solid #0F6292;
  margin: 10px;
  padding: 10px;
  justify-content: center;
}


.filter-selection {
  margin-bottom: 15px;
  text-align: right;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.filter-selection select {

  padding: 10px;
  font-size: 1rem;
  border: 1px solid #0F6292;
  border-radius: 5px;
  margin-right: 10px;
}

.filter-input {
  margin-bottom: 15px;
  text-align: right;
  align-self: center;
}

.filter-input input,
.filter-input select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #0F6292;
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
}

/* Table styling */
.charges-table {
  width: 100%;
  border-collapse: collapse;
}

.charges-table th,
.charges-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.charges-table th {
  background-color: #0F6292;
  color: white;
}

.charges-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-controls span {
  margin: 0 10px;
}